<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
<!-- 컨텐츠 부분 -->
<div th:fragment="userList_contents">
    <div class="page-header">
        <h1>사용자 목록</h1>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th class="info col-sm-2">사용자 ID</th>
            <th class="info col-sm-2">사용자명</th>
            <th class="info col-sm-2">생년월일</th>
            <th class="info col-sm-2">나이</th>
            <th class="info col-sm-2">결혼여부</th>
            <th class="info col-sm-2"></th>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${#dates.format(user.birthday, 'yyyy/MM/dd')}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.marriage}? '기혼' : '미혼'"></td>

            <td>
                <a class="btn btn-primary" th:href="@{'/userDetail/' + ${user.userId}}">
                    상세보기
                </a>
            </td>
        </tr>
    </table>
    <label th:text=" '합계:' + ${userListCount} + '건'"></label><br/>
    <label class="text-info" th:text="${result}"> 결과보기</label><br/>
    <a class="btn btn-primary" th:href="@{'/userList/csv'}">csv 출력</a>
</div>
</body>
</html>
